@media (min-width: 420px){
  .rasp {
    height: 50px;
  }
  .schedule1 {
    font-size: 12px;
    margin-top: 7px;
  }
  .schedule2 {
    font-size: 12px;
  }
  .rectangle-1 {
    background-color: #0FB800;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    text-align: center;
  }
  
  .rectangle-2 {
    background-color: #34C700;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
    border-radius: 30%;
    text-align: center;
  }
  .rectangle-2 span {
    background-color: #34C700;
  }
  
  .rectangle-3 {
    background-color: #FFC266;
    height: 50px;
    width: 50px;
    border-radius: 30%;
  }
  
  .rectangle-4 {
    background-color: #FF6363;
    height: 50px;
    width: 50px;
    border-radius: 30%;
  }
  
  .rectangle-5 {
    background-color: #808080;
    height: 50px;
    width: 50px;
    border-radius: 30%;
  }
}

@media (max-width: 410px){
    .rasp {
       height: 50px;
    }
    .schedule1 {
       font-size: 11px;
     }
    .schedule2 {
       font-size: 10px;
     }
     .rectangle-1 {
       background-color: #0FB800;
       height: 45px;
       width: 45px;
       border-radius: 30%;
       text-align: center;
     }
     
     .rectangle-2 {
       background-color: #34C700;
       height: 45px;
       width: 45px;
       vertical-align: bottom;
       border-radius: 30%;
       text-align: center;
     }
     .rectangle-2 span {
       background-color: #34C700;
     }
     
     .rectangle-3 {
       background-color: #FFC266;
       height: 45px;
       width: 45px;
       border-radius: 30%;
     }
     
     .rectangle-4 {
       background-color: #FF6363;
       height: 45px;
       width: 45px;
       border-radius: 30%;
     }
     
     .rectangle-5 {
       background-color: #808080;
       height: 45px;
       width: 45px;
       border-radius: 30%;
     }
   }

@media (max-width: 380px){
 .rasp {
    height: 50px;
 }
 .schedule1 {
    font-size: 11px;
  }
 .schedule2 {
    font-size: 10px;
  }
  .rectangle-1 {
    background-color: #0FB800;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    text-align: center;
  }
  
  .rectangle-2 {
    background-color: #34C700;
    height: 45px;
    width: 45px;
    vertical-align: bottom;
    border-radius: 30%;
    text-align: center;
  }
  .rectangle-2 span {
    background-color: #34C700;
  }
  
  .rectangle-3 {
    background-color: #FFC266;
    height: 45px;
    width: 45px;
    border-radius: 30%;
  }
  
  .rectangle-4 {
    background-color: #FF6363;
    height: 45px;
    width: 45px;
    border-radius: 30%;
  }
  
  .rectangle-5 {
    background-color: #808080;
    height: 45px;
    width: 45px;
    border-radius: 30%;
  }
}
